button {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  text-align: center;
}

h2,
h1,
p,
a {
  color: white;
}

a {
  margin-bottom: 2em;
}

.map {
  display: inline-flex;
  width: 100%;
  height: 500px;
  background-color: red;
}

.name {
  border: 2px solid purple;
  margin-bottom: 1em;
  padding: 1em;
}
.user {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list div {
  text-align: center;
}

body {
  font-family: sans-serif;
  width: 100%;
  background-color: black;
}

.profilepic {
  border-radius: 8px;
  box-shadow: 0 0 10px white;
}

#loader {
  position: relative;
  font-family: sans-serif;
  font-size: 2em;
  animation: animate 0.5s linear infinite;
  -webkit-text-fill-color: white;
}

@keyframes animate {
  0% {
    padding-left: -100px;
  }
  100% {
    padding-left: 100px;
  }
}
