button {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

h2,
h1,
p,
a {
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  color: white;
}
.name {
  border: 2px solid purple;
}
.user {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#list div {
  text-align: center;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

img {
  border-radius: 8px;
  box-shadow: 0 0 10px white;
}
